In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('/Users/rahul/Desktop/GDSC-ML Tasks/New Dataset/WA_Fn-UseC_-Telco-Customer-Churn.csv')
pd.set_option('display.max_columns', None)
df.head(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,Yes,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No

In [3]:
df.shape

(7043, 21)

In [4]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [5]:
for column in df.columns:
    val_counts = df[column].value_counts()
    print(f"Column: {column}")
    print(f"Unique values: {val_counts}")
    print("\n")

Column: customerID
Unique values: customerID
7590-VHVEG    1
3791-LGQCY    1
6008-NAIXK    1
5956-YHHRX    1
5365-LLFYV    1
             ..
9796-MVYXX    1
2637-FKFSY    1
1552-AAGRX    1
4304-TSPVK    1
3186-AJIEK    1
Name: count, Length: 7043, dtype: int64


Column: gender
Unique values: gender
Male      3555
Female    3488
Name: count, dtype: int64


Column: SeniorCitizen
Unique values: SeniorCitizen
0    5901
1    1142
Name: count, dtype: int64


Column: Partner
Unique values: Partner
No     3641
Yes    3402
Name: count, dtype: int64


Column: Dependents
Unique values: Dependents
No     4933
Yes    2110
Name: count, dtype: int64


Column: tenure
Unique values: tenure
1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: count, Length: 73, dtype: int64


Column: PhoneService
Unique values: PhoneService
Yes    6361
No      682
Name: count, dtype: int64


Column: MultipleLines
Unique values: MultipleLines
No                  3390
Yes                 2971
No phone service     682
Name: count, dtype: int64


Column: InternetService
Unique values: InternetService
Fiber optic    3096
DSL            2421
No             1526
Name: count, dtype: int64


Column: OnlineSecurity
Unique values: OnlineSecurity
No                     3498
Yes                    2019
No internet service    1526
Name: count, dtype: int64


Column: OnlineBackup
Unique values: OnlineBackup
No                     3088
Yes                    2429
No internet service    1526
Name: count, dtype: int64


Column: DeviceProtection
Unique values: DeviceProtection
No                     3095
Yes                    2422
No internet service    1526
Name: count, dtype: int64


Column: TechSupport
Unique values: TechSupport
No                     3473
Yes                    2044
No internet service    1526
Name: count, dtype: int64


Column: StreamingTV
Unique values: StreamingTV
No                     2810
Yes                    2707
No internet service    1526
Name: count, dtype: int64


Column: StreamingMovies
Unique values: StreamingMovies
No                     2785
Yes                    2732
No internet service    1526
Name: count, dtype: int64


Column: Contract
Unique values: Contract
Month-to-month    3875
Two year          1695
One year          1473
Name: count, dtype: int64


Column: PaperlessBilling
Unique values: PaperlessBilling
Yes    4171
No     2872
Name: count, dtype: int64


Column: PaymentMethod
Unique values: PaymentMethod
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: count, dtype: int64


Column: MonthlyCharges
Unique values: MonthlyCharges
20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
23.65      1
114.70     1
43.65      1
87.80      1
78.70      1
Name: count, Length: 1585, dtype: int64


Column: TotalCharges
Unique values: TotalCharges
          11
20.2      11
19.75      9
20.05      8
19.9       8
          ..
6849.4     1
692.35     1
130.15     1
3211.9     1
6844.5     1
Name: count, Length: 6531, dtype: int64


Column: Churn
Unique values: Churn
No     5174
Yes    1869
Name: count, dtype: int64